body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/*
Add some style blocks below this line to style the cards.
Feel free to borrow from Exercise 1.
*/

section {
    box-sizing: border-box;
    border: 1px solid rgb(131, 126, 126); 
    width: 362px;
    height: 78vh;   
    margin: 10px;
}

h2 {
    margin: 2vh;
}

p {
    padding: 2vh;
}

button {
    margin: 2vh;
}


/* Tablet Media Query */
@media only screen and (max-width: 1000px) {

}

/* Mobile Phone Media Query */
@media only screen and (max-width: 600px) {

    
}